.promo{
    p{
        text-align: center;
        background-color: rgb(152, 116, 175);
        width: 100%;
        color: white;
        font-weight: 600;
    }
}

.navbar-nav.menu{
    li{
        a{
            color: rgb(152, 116, 175);
            font-weight: 500;
            font-size: 1.5rem;
        }
    }
}